/*******PAGE SETUP*******/
* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: rgba(35,35,35,1);
}
.container {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.bg-img{
	background-image: url(bg-img.jpg); /*Picture by Gaelle Marcel, published on Unsplash*/
	height: 100vh;
	overflow: auto;
	background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.outer-box {
	display: block;
	opacity: 0;
	transition: all 1.25s ease-in-out;
}

/*******HEADER*******/
.box {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.logo {
	display: inline-block;
	height: 200px;
	width: 610px;
	margin-top: 30vh;
	border: 8px solid rgba(255,255,255,1);
}
.box p {
	font-family: 'Poiret One', cursive;
	padding-top: 25px;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
.box p.expertise {
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 3px;
	font-size: 30px;
	color: rgba(255,255,255,1);
}

/*******INFO*******/
.work {
	display: inline-block;
}
.work p {
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 20px;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
/*******SOCIAL MEDIA*******/
.social-media {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	width: 40%;
	margin-bottom: 30px;
	margin-top: 10px;
}
.social-media.fa, .mentorly {
	
	height: 28px;
}
.icon {
	display: inline-block;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
.icon:nth-child(4) {
	height: 34px;
	vertical-align: middle;
}
svg.mentorly {
	display: inline;
	fill: rgba(255,255,255,1);
}
svg.mentorly:hover {
	fill: rgba(255,255,255,0.75);
}
svg.mentorly path {
	margin-top: 10px;
}

a, i {
	text-decoration: none;
	color: rgba(255,255,255,1);
}
a:hover, i:hover {
	cursor: pointer;
	color: rgba(255,255,255,0.75);
}

/*******FOOTER*******/
footer {
	position: absolute;
	bottom: 0;
	letter-spacing: 2px;
	width: 100%;
}
.footer-inner {
	color: rgba(255,255,255,1);
	padding-bottom: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 9px;
    text-align: center;
}
.footer-row {
    margin-right: 1%;
    margin-left: 1%;
}

/*******RESPONSIVE*******/
/*For Devices with width between 480px-767px*/
@media (min-width: 480px) and (max-width: 767px){

	.logo {
		display: inline-block;
		height: 120px;
		width: 300px;
		margin-top: 25vh;
		border: 5px solid rgba(255,255,255,1);
	}
	.box p {
		padding-top: 15px;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	.box p.expertise {
		font-family: 'Josefin Sans', sans-serif;
		padding-top: 5px;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}

	.work {
		display: inline-block;
	}
	.work p {
		padding-top: 15px;
	    padding-left: 20%;
    	padding-right: 20%;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}
	.social-media {
    	width: 100%;
	}

	.footer-inner {
		color: rgba(255,255,255,1);
		padding-bottom: 10px;
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    font-size: 6px;
	    text-align: center;
	}
}
/*For Devices with width under 479px*/
@media (max-width: 479px){
	.logo {
		display: inline-block;
		height: 120px;
		width: 300px;
		margin-top: 25vh;
		border: 5px solid rgba(255,255,255,1);
	}
	.box p {
		padding-top: 15px;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	.box p.expertise {
		font-family: 'Josefin Sans', sans-serif;
		padding-top: 5px;
		font-size: 22px;
		color: rgba(255,255,255,1);
	}

	.work {
		display: inline-block;
	}
	.work p {
		padding-top: 15px;
		font-size: 22px;
		color: rgba(255,255,255,1);
		padding-left: 8%;
    	padding-right: 8%;
	}
	.social-media {
    	width: 100%;
	}
	.footer-inner {
		color: rgba(255,255,255,1);
		padding-bottom: 10px;
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    font-size: 6px;
	    text-align: center;
	}
}